    @font-face {
      font-family: 'Elianto';
      src: url(fonts/Elianto-Regular.ttf);
      
    }
    @font-face{
      font-family: 'Russo';
      src:url(fonts/Russo_One.ttf);
    }
    *{
      margin: 0;
      padding: 0px;
      box-sizing: border-box;
      scroll-behavior: smooth;
    }
    header{
      font-family: 'Elianto', sans-serif;
      font-weight: 600;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10000;
    }
    header .logo
    {
      color: rgb(255, 255, 255);
      font-weight:700;
      text-decoration: none;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    header ul{
      display: flex;
      justify-content: right;
      align-items: center;
    }
    header ul li{
      list-style: none;
      margin-left: 20px;

    }
    header ul li a{
      text-decoration: none;
      padding: 6px 15px;
      color: #ffffff;
      border-radius: 20px;
      transition: 0.4s;
    }

    header ul li a:hover,
    header ul li a.active{
      transition: 0.2s;
      letter-spacing: 6px;
      background: rgb(255, 255, 255) ;
      color: rgb(0, 0, 0);
    }
    .container{
      background: white;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      position: relative;
      filter: invert(1);
    }

    .container h1, .container img{
      
      z-index: 20;
      
    }
    .container img{
      filter: invert(1);
    }
    .container h1{
      font-family: 'Elianto';
      
    }
    .container video{
      position: absolute;
      width: auto;
      height: 100vh;
      z-index: 0;
      animation: invert 10s infinite;
    }
   
  .container p{
    font-family: 'Russo', sans-serif;
    z-index: 100;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
  }
      footer {
      position: relative;
      
      height: 100px ;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 100px;
      text-align: left;
      font-size: 0.5em;
      
      z-index: 11;
      background:#000000;
      color: #ffffff;
      font-weight: 200;
      font-family: Arial, Helvetica, sans-serif;
    }

    footer .hr{
      justify-content: center;
      align-items: center;
    }
    footer a{
      text-decoration:none ;
      color: var(--footer-link-color);
    }
    .social
    {
      position: absolute;
      z-index: 10;
      bottom: 50%;
      left: 95%;
      justify-content: right;
      align-items: center;
      
    }

    .social li
    {
      list-style: none;
    }
    .social li a
    {
      display: inline-block;
      margin-right: 20px;
      filter: invert(1);
      transform: scale(0.5);
      transition: 0.5s;
    }
    .social li a:hover
    {
      transform: scale(0.5) translateY(-15px);
    }
    .js-tilt{
      transform-style: preserve-3d;
    }
    @media(max-width:550px){
      .container img{
        transform: scale(0.6);
        margin-top: -10%;
      }
      .container h1{
        font-size:1.5rem;
        margin-top: -20%;
      }

        #footer{
            flex-direction: column;    
        }
        .social
            {
            position: absolute;
            z-index: 10;
            bottom: 10px;
            left: 35%;
            justify-content: right;
            align-items: center;
            display:flex;
            }
    }
    @media(min-width:768px){
      .social
      {
        position: absolute;
        z-index: 10;
        bottom: 10px;
        left: 35%;
        justify-content: right;
        align-items: center;
        display:flex;
      }
    }
    @media(min-width: 912px){
      .social{
        position: absolute;
        z-index: 10;
        bottom: 10px;
        left: 45%;
        justify-content: right;
        align-items: center;
        display:flex;

      }
    }
    

    
    
    @media (max-width:991px)
    {
      footer{
        height:auto;
        padding: 0px 30px;
      }
  section
         {
             padding: 40px;
         }
         header
         {
              padding: 20px 40px;
        }
        header .logo
        {
            top:5px;
            position: relative;
            padding: 0px;
            font-size: 1.5em;
        }
        header ul
        {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            z-index: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
            visibility: hidden;
            opacity: 0;
        }
        header ul.active
        {
            visibility: visible;
            opacity: 10;
        }
        header ul li a
        {
         display: inline-block;
         color: #ffffff;
         font-weight: 400;
         margin-left: 0;
         text-decoration: none;
         font-size: 20px;
         margin: 10px 0;
        }
        header ul li a:hover,
        header ul li a.active
{
    background: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
}

.toggleMenu
{
  position: relative;
    width: 40px;
    height: 40px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png); 
    background-position: center; 
    background-repeat: no-repeat;         
    background-size: 30px;
    z-index: 2;
    cursor: pointer;
}
.text a
{

font-size: 1em;
background: rgb(0, 0, 0);
padding: 3px 10px;
margin-left: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: 500;
color: #111;
letter-spacing: 2px;
transition: 0.2s;
}

.toggleMenu.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);  
  background-position: center; 
  background-repeat: no-repeat;         
  background-size: 25px;
  
}
.content 
        {
            flex-direction: column;
            margin-top: 80px;
        }
.content .textBox
{
    position: relative;
    max-width: 100%;
    padding-right: 20px;
}
.content .textBox h2
{
font-size: 3em;
}

}



