@font-face {
  font-family: 'Elianto';
  src: url(fonts/Elianto-Regular.ttf);
  
}
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header{
  font-family: 'Elianto', sans-serif;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .logo
{
  color: rgb(255, 255, 255);
  font-weight:700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul{
  display: flex;
  justify-content: right;
  align-items: center;
}
header ul li{
  list-style: none;
  margin-left: 20px;

}
header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #ffffff;
  border-radius: 20px;
  transition: 0.4s;
}

header ul li a:hover,
header ul li a.active{
  transition: 0.2s;
  letter-spacing: 6px;
  background: rgb(255, 255, 255) ;
  color: rgb(0, 0, 0);
}
.container{
  background: gray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  filter: invert(1);
}

.container h1, .container img{
  z-index: 20;
  
}
.container img{
  filter: invert(1);
}
.container h1{
  font-family: 'Elianto';
}
.container video{
  position: absolute;
  height: 100vh;
  z-index: 0;
  animation: invert 10s infinite;
}
footer {
  position: relative;
  
  height: 100px ;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
  text-align: left;
  font-size: 0.5em;
  
  z-index: 11;
  background: #1D1D1F;
  color: #ffffff;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

footer .hr{
  justify-content: center;
  align-items: center;
}
footer a{
  text-decoration:none ;
  color: var(--footer-link-color);
}



