@font-face {
    font-family: 'Elianto';
    src: url(fonts/Elianto-Regular.ttf);
}
*{
    
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

header{
    
    font-family: 'Elianto', sans-serif;
    font-weight: 600;
    position: relative;
    top:10px;
    left: 0;
    width: 100%;
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    z-index: 10000;
    list-style: none;
}


header .logo
{
    top: 10px;
    padding: 30px 50px;
    color: rgb(0, 0, 0);
    font-weight:700;
    margin: 5;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Elianto', sans-serif;
    list-style: none;
}
header ul{
    padding:0 80px;

    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Elianto', sans-serif;
}
header ul li{
    top: 900px;

    list-style: none;
    margin-left: 15px;
    

}
header ul li a{
    text-decoration: none;
    padding: 6px 12px;
    color: #000000;
    border-radius: 40px;
    transition: 0.4s;
}

header ul li a:hover,
header ul li a.active{
    transition: all 0.2s ease-in-out;
    letter-spacing: 6px;
    background: #d6d5d5 ;
    color: rgb(0, 0, 0);
    
}


  section{
      list-style: none;
      
      grid-template-columns: repeat(3,1fr); 
  }
  .item{
      bottom: 200px;
      list-style: none;
      background-color: gray;
      height: 250px;
      width: 100%;
      border-radius: 20px;
      


  }
  footer .hr{
    justify-content: center;
    align-items: center;
  }
  footer a{
    text-decoration:none ;
    color: var(--footer-link-color);
  }
  
  
  .menu
  {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  @media(max-width:1024px)
  {
    *{
        padding: 0px;
    }
  }
 
  @media (max-width:991px)
  {
  
  
      
      section
           {
               padding: 40px;
           }
           header
           {
               top:-10px;
                padding: 40px 40px;
          }
          header .logo
          {
              top:5px;
              position: relative;
              padding: 0px;
              font-size: 1.5em;
          }
          header ul
          {
              position: fixed;
              top: -17px;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgb(255, 255, 255);
              z-index: 1;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              transition: 0.2s;
              visibility: hidden;
              opacity: 0;
          }
          header ul.active
          {
              visibility: visible;
              opacity: 10;
          }
          header ul li a
          {
           display: inline-block;
           color: #000000;
           font-weight: 400;
           margin-left: 0;
           text-decoration: none;
           font-size: 20px;
           margin: 10px 0;
          }
          header ul li a:hover,
          header ul li a.active
  {
      background: rgb(255, 255, 255) ;
      color: rgb(0, 0, 0);
  }
  
  .toggleMenu
  {
    position: relative;
      width: 40px;
      height: 40px;
      background: url(https://i.ibb.co/HrfVRcx/menu.png); 
      background-position: center; 
      background-repeat: no-repeat;         
      background-size: 30px;
      z-index: 2;
      cursor: pointer;
      filter: invert(1);
  }
  .text a
  {
  
  font-size: 1em;
  background: rgb(0, 0, 0);
  padding: 3px 10px;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  }
  
  .toggleMenu.active
  {
    background: url(https://i.ibb.co/rt3HybH/close.png);  
    background-position: center; 
    background-repeat: no-repeat;         
    background-size: 25px;
    
  }
  .content 
          {
              flex-direction: column;
              margin-top: 80px;
          }
  .content .textBox
  {
      position: relative;
      max-width: 100%;
      padding-right: 20px;
  }
  .content .textBox h2
  {
  font-size: 3em;
  }
  
  }
  
  
  
  