@font-face {
    font-family: 'Elianto';
    src: url(fonts/Elianto-Regular.ttf);
    
}
@font-face {
    font-family: 'Russo One';
    src: url(fonts/Russo_One.ttf);
}



*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x:hidden;
    background: linear-gradient(#FFA782, #FFD4A9);
    
}

header{
    font-family: 'Elianto', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight:700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;

}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #000000;
    border-radius: 20px;
    transition: 0.4s;
}

header ul li a:hover,
header ul li a.active{
    transition: 0.2s;
    letter-spacing: 6px;
    background: rgb(255, 255, 255) ;
    color: #50B6B6;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,#1F8B8B,transparent);
    z-index: 1000;
}
section h2,section a{
    font-family: 'Elianto', sans-serif;
    font-weight: 600;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: stroke;
}
section img#core{
    mix-blend-mode: subtract;
}
section img#stars{
    mix-blend-mode: screen;
}
#text{
    position: absolute;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    font-weight: 300;
    
}
#btn
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    color: #50B6B6;
    font-size: 1.5em;
    transform: translateY(100px); 

}
.sec
{
    position: relative;
    padding:100px;
    background: #1F8B8B;

}
.sec h3{
    color: #ffff;
    font-family: 'Russo One', sans-serif;
    font-weight: 300;
}
.sec h2{
    color: #fff;
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.sec p{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0px;
}
footer {
    position: relative;
    
    height: 100px ;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px;
    text-align: left;
    font-size: 0.5em;
    
    z-index: 11;
    background:#072424;
    color: #ffffff;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  footer .hr{
    justify-content: center;
    align-items: center;
  }
  footer a{
    text-decoration:none ;
    color: var(--footer-link-color);
  }
  .item-one{
    background-image: url(./images/carestack.jpeg);
    position: relative;
    display: inline-block;
    height: 80px;
    width: 663px;
    border-radius: 10px;
    z-index: 1;
  }
  @media(max-width:991px)
  {
      .sec h2{
          font-size:1.2em;
      }
     .sec p{   
         font-size: 15px;
     }
    .judge{
        font-size: 15px;
    }
    #text{
        font-size: 2.6rem;
    }
    #btn{
        padding: 5px 13px;
    }
    footer{
        height:auto;
        text-align: left;
        padding: 0 95px;

    }
    
  }
  @media (max-width:991px)
{
    .sec{
        padding:20px;
    }


    footer{
        height: auto;        
        padding: 0 50px;

    }
    .social
  {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  }

  .showcase{
    background-image: url(images/new\ beb.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position:  top;
    height: 100vh;
    padding: 100px;
    font-family: 'Elianto', sans-serif ;
    font-weight:500;
    font-size: 17px;
  }
    
    section
         {
             padding: 40px;
         }
         header
         {
              padding: 20px 40px;
        }
        header .logo
        {
            position: relative;
            /* max-width: 60px; */
            font-size: 1.5em;
        }
        header ul
        {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #65E2E2;
            z-index: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
            visibility: hidden;
            opacity: 0;
        }
        header ul.active
        {
            visibility: visible;
            opacity: 10;
        }
        header ul li a
        {
         display: inline-block;
         color: #000000;
         font-weight: 400;
         margin-left: 0;
         text-decoration: none;
         font-size: 1.5em;
         margin: 10px 0;
        }
        header ul li a:hover,
        header ul li a.active
{
    background: rgb(255, 255, 255) ;
    color: #429595;
}

.toggleMenu
{
  position: relative;
    width: 40px;
    height: 40px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png); 
    background-position: center; 
    background-repeat: no-repeat;         
    background-size: 30px;
    z-index: 2;
    cursor: pointer;
}
.text a
{

font-size: 1em;
background: rgb(0, 0, 0);
padding: 3px 10px;
margin-left: 10px;
text-transform: uppercase;
text-decoration: none;
font-weight: 500;
color: #111;
letter-spacing: 2px;
transition: 0.2s;
}

.toggleMenu.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);  
  background-position: center; 
  background-repeat: no-repeat;         
  background-size: 25px;
  
}
.content 
        {
            flex-direction: column;
            margin-top: 80px;
        }
.content .textBox
{
    position: relative;
    max-width: 100%;
    padding-right: 20px;
}
.content .textBox h2
{
font-size: 3em;
}

}




