@font-face {
    font-family: 'Elianto';
    src: url(fonts/Elianto-Regular.ttf);
    
}
@font-face {
    font-family: 'Russo One';
    src: url(fonts/Russo_One.ttf);
}



*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x:hidden;
    background: linear-gradient(#2E21AC,#D0469C);
    
}
header{
    font-family: 'Elianto', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight:700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;

}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    transition: 0.4s;
}

header ul li a:hover,
header ul li a.active{
    transition: 0.2s;
    letter-spacing: 6px;
    background: rgb(255, 255, 255) ;
    color: #7732A5;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,#7732A5,transparent);
    z-index: 1000;
}
section h2,section a{
    font-family: 'Elianto', sans-serif;
    font-weight: 600;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: stroke;
}
section img#uma{
    mix-blend-mode: color-burn;
    mix-blend-mode: hard-light;
}
section img#john{
    mix-blend-mode: color-burn;
    mix-blend-mode: hard-light;
}

#text{
    top: 300px;
    position: absolute;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 5.6vw;
    z-index: 9;
    font-weight: 300;
    
}
#btn
{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    color: #7732A5;
    font-size: 1.5em;
    transform: translateY(100px); 
    top :100px

}
.sec
{
    position: relative;
    padding:100px;
    background: #7732A5;
}
.sec h3{
    color: rgb(0, 0, 0);
    font-family: 'Russo One', sans-serif;
    font-weight: 300;
}
.sec h2,h3{
    /* color: rgb(255, 255, 255); */
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.sec p{
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0px;
}
footer {
    position: relative;
    height: auto;
    width: 100%;
    justify-content: left;
    flex-direction: column;
    padding: 0 100px;
    text-align: left;
    font-size: 0.5em;
    z-index: 11;
    background:#13011D;
    color: #ffffff;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  footer a{
    text-decoration:none ;
    color: var(--footer-link-color);
  }
  .item-one{
    background-image: url(./images/welgate.png);
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    z-index: 1;
}
  
@media (max-width:500px)
{
    section .image{
        display: none;

    }
    #text{
        font-size:4rem;
    }
    #footer{
        flex-direction: column;
    }
}
@media(max-width:710px)
  {
      .sec h2{
          font-size:1.2em;
      }
     .sec p{   
         font-size: 15px;
     }
    .judge{
        font-size: 15px;
    }
    #text{
        font-size: 4rem;
    }
    #btn{
        padding: 5px 13px;
    }
    footer{
        height:auto;
        text-align: left;
        padding: 0 95px;

    }
}
@media(max-width:991px) {
    #text{
        font-size: 2.3rem;
    }
}


  @media (max-width:991px)
{   
    
          .sec{
                padding:20px;
            }


        
    section
         {
             padding: 40px;
         }
         header
         {
              padding: 20px 40px;
        }
        header .logo
        {
            position: relative;
            /* max-width: 60px; */
            font-size: 1.5em;
        }
        header ul
        {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:#7732A5;
            z-index: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
            visibility: hidden;
            opacity: 0;
        }
        header ul.active
        {
            visibility: visible;
            opacity: 10;
        }
        header ul li a
        {
         display: inline-block;
         color: #ffffff;
         font-weight: 400;
         margin-left: 0;
         text-decoration: none;
         font-size: 20px;
         margin: 10px 0;
        }
        header ul li a:hover,
        header ul li a.active
        {
            background: rgb(255, 255, 255) ;
            color: rgb(0, 0, 0);
        }

    .toggleMenu
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png); 
        background-position: center; 
        background-repeat: no-repeat;         
        background-size: 30px;
        z-index: 2;
        cursor: pointer;
    }
    .text a
    {

    font-size: 1em;
    background: rgb(0, 0, 0);
    padding: 3px 10px;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    }

    .toggleMenu.active
    {
    background: url(https://i.ibb.co/rt3HybH/close.png);  
    background-position: center; 
    background-repeat: no-repeat;         
    background-size: 25px;
    filter: invert(1);
    
    }
    .content 
            {
                flex-direction: column;
                margin-top: 80px;
            }
    .content .textBox
    {
        position: relative;
        max-width: 100%;
        padding-right: 20px;
    }
    .content .textBox h2
    {
    font-size: 3em;
    }
}
  